<link rel='stylesheet' href='../stylesheets/stylenum.css' />
<%- include('../partials/header.ejs'); %>
<nav>
  <a href="/ordering" class="orders">
    <div id="create">Create Order</div>
  </a>
  <a href="/ordering/show">
  <div class="orders">Show Orders</div>
  </a>
    <div class="orders" id="number">Show Order by<br> Order Number</div>
  <a id="logout" href="/logout" class="orders" id="logout">
    <div class="orders">Logout</div>
  </a>
</nav>
<main>
    <section id="p1"><img src="/images/p2.png"></section>
    <section id="middle">
        <div>
            <form action="/ordering/byNum" method="POST">
                <div><label for="ordernum">Enter Order Number:&nbsp</label></div>
                <div><input type="text" id="ordernum" name="ordernum"></div>
                <button type="submit">Enter</button>
            </form>
        <div>
            <% if(orders !== null && orders !== undefined){ %>
                <div class="top">
                    <div>Customer Name:&nbsp</div><div><%= customer.name %></div>
                </div>
                <div class="top">
                    <div>Employee Name: &nbsp</div><div><%= employee.name %></div>
                </div>
                <div class="top">
                    <div>Pizza Size:&nbsp</div><div><%= orders.size %></div>
                </div>
                <div class="top">
                    <div>Sauce:&nbsp</div><div><%= orders.sauce %></div>
                </div>
                <div class="top">
                    <div>Cheese:&nbsp</div><div><%= orders.cheese %></div>
                </div>
                <div class="top">
                    <div>Toppings:&nbsp</div>
                    <div  id="tlist">
                      <% toppings.forEach((a)=>{ %>
                        <div><%= a %></div>          
                        <% }) %>
                      </div>
                      <form action="/ordering/<%= orders._id %>" method="POST">
                      <button type="submit">Delete</button>
                      </form>
                </div>
            <% } %>
        </div>
    </section>
    <section id="p2"><img src="/images/p1.png"></section>

</main>
<%- include('../partials/footer.ejs'); %>
