<link rel='stylesheet' href='../stylesheets/styleshow.css' />
<%- include('../partials/header.ejs'); %>
<nav>
  <a href="/ordering" class="orders">
    <div id="create">Create Order</div>
  </a>
  <div class="orders" id="order">Show Orders</div>
  </a>
  <a href="/ordering/orderId" class="orders">
    <div class="orders" id="number">Show Order by<br> Order Number</div>
  </a>
  <a id="logout" href="/logout" class="orders" id="logout">
    <div class="orders">Logout</div>
  </a>
</nav>
<main>
  <section id='p2' class="section-background"><img src='/images/p2.png'></section>
  <section id="middle">
    
    <% orders.forEach((o)=>{ %>
      <div id="spacing">
        <div class="orderlist">
          <div>Order Number:&nbsp</div>
          <div><%= o.orderNumber %></div>
        </div>
        <div class="orderlist">
          <div>Employee Name:&nbsp</div>
          <div><%= o.employee.name %></div>
        </div>
        <div class="orderlist">
          <div>Customer Name:&nbsp</div>
          <div><%= o.customer.name %></div>
        </div>
        <div class="orderlist">
          <div>Pizza Size:&nbsp</div>
          <div><%= o.size %></div>
        </div>
        <div class="orderlist">
          <div>Pizza Sauce:&nbsp</div>
          <div><%= o.sauce %></div>
        </div>
        <div class="orderlist">
          <div>Amount of cheese:&nbsp</div>
          <div><%= o.cheese %></div>
        </div>
        <div class="orderlist">
          <div>Toppings:&nbsp</div>
          <div  id="tlist">
            <% o.toppings.forEach((a)=>{ %>
              <div><%= a %></div>          
              <% }) %>
            </div>
        </div>
      </div>
  <% }) %>

  </section>
  <section id="p1" class="section-background"><img src='/images/p1.png'></section>
</main>
<%- include('../partials/footer.ejs'); %>

