<link rel='stylesheet' href='../stylesheets/styleshow.css' />
<%- include('../partials/header.ejs'); %>
<nav>
  <a href="/ordering" class="orders">
    <div id="create">Create Order</div>
  </a>
  <div class="orders" id="order">Show Orders</div>
  </a>
  <a href="/ordering/orderId" class="orders">
    <div class="orders" id="number">Show Order by<br> Order Number</div>
  </a>
  <a id="logout" href="/logout" class="orders" id="logout">
    <div class="orders">Logout</div>
  </a>
</nav>
<main>
  <% orders.forEach((o)=>{ %>
    <div>
      <div>Order Number</div>
      <div><%= o.orderNumber %></div>
    </div>
    <div>
      <div>Employee Name</div>
      <div><%= o.employee.name %></div>
    </div>
    <div>
      <div>Customer Name</div>
      <div><%= o.customer.name %></div>
    </div>
    <div>
      
    </div>
    <%= o.size %><br>
    <%= o.sauce %><br>
    <%= o.cheese %><br>
    <% o.toppings.forEach((a)=>{ %>
      <%= a %><br>
   <% }) %>
  <% }) %>
</main>
<%- include('../partials/footer.ejs'); %>

